<ion-header mode="md" [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-title>{{receitaTitulo}}</ion-title>
      </ion-col>

      <ion-col class="flex flex-row-reverse items-center mr-2 md:mr-4" size="1">
        <ion-icon
          name="return-up-back-outline"
          [routerLink]="['/home']"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="md" collapse="condense">
    <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-title>{{receitaTitulo}}</ion-title>
        </ion-col>

        <ion-col
          class="flex flex-row-reverse items-center mr-2 md:mr-4"
          size="1"
        >
          <ion-icon
            name="return-up-back-outline"
            [routerLink]="['/home']"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <div class="md:px-[25vw]" *ngIf="receita">
    <ion-card>
      <ion-card-content>
        <swiper-container
          [modules]="swiperModules"
          [pagination]="true"
          navigation="true"
          css-mode="true"
        >
          <swiper-slide *ngFor="let imagem of receita.imagens">
            <img [src]="imagem.url" />
          </swiper-slide>
        </swiper-container>

        <ion-row class="flex-row-reverse">
          <ion-col *ngIf="isDesktop === true" size="1"></ion-col>
          <ion-col size="4" sizeLg="2" *ngIf="receita.porcao.quantidade">
            <ion-icon name="restaurant-outline"></ion-icon>&nbsp;<span
              class="prose lowercase"
              >{{ receita.porcao.quantidade }} {{ receita.porcao.medida }}</span
            >
          </ion-col>
          <ion-col size="4" sizeLg="2" *ngIf="receita.tempoPreparo">
            <ion-icon name="timer-outline"></ion-icon>&nbsp;<span class="prose"
              >{{ receita.tempoPreparo }}</span
            >
          </ion-col>
        </ion-row>

        <ion-accordion-group
          [multiple]="true"
          [value]="['descricao', 'ingredientes', 'utensilios', 'preparo']"
        >
          <ion-accordion value="descricao">
            <ion-item slot="header" lines="full">
              <ion-label>Descrição</ion-label>
            </ion-item>

            <div class="ion-padding" slot="content">
              <p class="indent-4 text-justify">{{ receita.descricao }}</p>
            </div>
          </ion-accordion>

          <ion-accordion value="ingredientes">
            <ion-item slot="header" lines="full">
              <ion-label>Ingredientes</ion-label>
            </ion-item>

            <div class="ion-padding" slot="content">
              <ul class="ml-5">
                <li
                  class="list-disc list-outside marker:font-extrabold marker:text-gray-600"
                  *ngFor="let ingrediente of receita.ingredientes"
                >
                  {{ ingrediente.quantidade }}
                  <strong class="prose lowercase"
                    >{{ ingrediente.medida}}</strong
                  >
                  <span *ngIf="ingrediente.medida !== 'X'">&nbsp;de</span>
                  <span class="lowercase"
                    >&nbsp;{{ ingrediente.ingrediente }}</span
                  >
                </li>
              </ul>
            </div>
          </ion-accordion>

          <ng-container *ngIf="receita.utensilios.length > 0">
            <ion-accordion value="utensilios">
              <ion-item slot="header" lines="full">
                <ion-label>Utensilios</ion-label>
              </ion-item>

              <div class="ion-padding" slot="content">
                <ul class="ml-5">
                  <li
                    class="list-disc list-outside marker:font-extrabold marker:text-gray-600"
                    *ngFor="let utensilio of receita.utensilios"
                  >
                    {{ utensilio.quantidade }}
                    <strong class="prose">x</strong>
                    <span class="lowercase"
                      >&nbsp;{{ utensilio.utensilio }}</span
                    >
                  </li>
                </ul>
              </div>
            </ion-accordion>
          </ng-container>

          <ion-accordion value="preparo">
            <ion-item slot="header" lines="full">
              <ion-label>Preparo</ion-label>
            </ion-item>

            <div class="ion-padding" slot="content">
              <ol class="ml-5">
                <li
                  class="list-decimal list-outside marker:font-extrabold marker:text-gray-600"
                  *ngFor="let passo of receita.preparo"
                >
                  {{ passo.passo }}
                </li>
              </ol>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<div class="flex flex-row-reverse m-1 md:m-4">
  <ion-button
    color="primary"
    shape="round"
    [routerLink]="['/edit/', receitaId, receitaTitulo]"
  >
    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
  </ion-button>
</div>
