<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>--</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">--</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="md:px-[25vw]">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Titulo</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Imagens

        <ion-item lines="full"> Descrição </ion-item>

        <ion-item lines="full"> Ingredientes </ion-item>

        <ion-item lines="full"> Utensilios </ion-item>

        <ion-item lines="full"> Preparo </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
