<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Adicionar Receita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Adicionar Receita</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-label position="stacked">Titulo <span class="text-blue-400">*</span></ion-label>
      <ion-item>
        <ion-input [(ngModel)]="receita.titulo" placeholder="Minha Receita" required></ion-input>
      </ion-item>

      <ion-label position="stacked">Imagem <span class="text-blue-400">*</span></ion-label>
      <ion-item>
        <ion-grid class="mx-0 px-0">
          <ion-row>
            <ion-col class="relative" size="4" sizeMd="2" sizeLg="1" *ngFor="let imagem of receita.imagens; let i=index">
              <img [src]="imagem" class="w-[80px] h-[80px] md:w-[150px] md:h-[150px] m-0 bg-cover" />
            </ion-col>
            <ion-col size="4" sizeMd="2" sizeLg="1">
              <ion-button expand="full" class="w-[80px] h-[80px] md:w-[150px] md:h-[150px] m-0" (click)="addImagem()">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-label position="stacked">Descrição <span class="text-blue-400">*</span></ion-label>
      <ion-item>
        <ion-textarea [(ngModel)]="receita.descricao" placeholder="Descrição da receita" required></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label position="stacked">Preparo <span class="text-blue-400">*</span></ion-label>
      <ion-item *ngFor="let preparo of receita.preparo">
        •&nbsp;<ion-input [(ngModel)]="preparo.passo" required></ion-input>
      </ion-item>
      <ion-button expand="full">Adicionar passo</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label position="stacked">Ingredientes <span class="text-blue-400">*</span></ion-label>
      <ion-item *ngFor="let ingrediente of receita.ingredientes">
                  <ion-input [(ngModel)]="ingrediente.quantidade" class="max-w-10" type="number" [placeholder]="0" required></ion-input>
        <ion-select [(ngModel)]="ingrediente.medida" [placeholder]="medidasIngrediente[0]">
          <ion-select-option *ngFor="let medida of medidasIngrediente" [value]="medida">{{ medida }}</ion-select-option>
        </ion-select>
        &nbsp;
        <ion-label class="h-full !flex items-center justify-center">de</ion-label>
        &nbsp;
        <ion-input required></ion-input>
      </ion-item>
      <ion-button expand="full">Adicionar ingrediente</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label position="stacked">Utensílios (opcional)</ion-label>
      </ion-item>
      <ion-button expand="full">Adicionar Untensílio</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label position="stacked">Tempo Preparo (opcional)</ion-label>
      <ion-item>
        <ion-input type="number" [(ngModel)]="receita.tempoPreparo.valor" [placeholder]="0"></ion-input>
        <ion-select [(ngModel)]="receita.tempoPreparo.periodo" [placeholder]="periodosPreparo[0]">
          <ion-select-option *ngFor="let periodo of periodosPreparo" [value]="periodo">{{ periodo }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-label position="stacked">Porção (opcional)</ion-label>
      <ion-item>
        <ion-input type="number" [(ngModel)]="receita.porcao.quantidade" [placeholder]="0"></ion-input>
        <ion-select [(ngModel)]="receita.porcao.medida" [placeholder]="medidasPorcao[0]">
          <ion-select-option *ngFor="let medida of medidasPorcao" [value]="medida">{{ medida }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="bg-transparent !flex justify-center">
    <ion-button shape="round">
      Adicionar receita
    </ion-button>
  </ion-card>
</ion-content>
