<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Adicionar Receita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Adicionar Receita</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-label position="stacked">Titulo *</ion-label>
      <ion-item>
        <ion-input [(ngModel)]="receita.titulo" placeholder="Minha Receita" required></ion-input>
      </ion-item>

      <ion-label position="stacked">Imagem *</ion-label>
      <ion-item>
        <ion-grid class="mx-0 px-0">
          <ion-row>
            <ion-col class="relative" size="4" sizeMd="2" *ngFor="let imagem of receita.imagens; let i=index">
              <ion-button color="primary" class="absolute top-0 right-0 !flex items-center justify-center" fill="clear" (click)="removeItem(i, receita.imagens)">
                <ion-icon class="fill-red-600 text-white !stroke-[10px]" name="trash"></ion-icon>
              </ion-button>
              <img [src]="imagem" class="w-full aspect-square object-cover" />
            </ion-col>
            <ion-col size="4" sizeMd="2">
              <ion-button color="primary" expand="full" class="w-full aspect-square m-0" (click)="addImagem()">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-label position="stacked">Descrição *</ion-label>
      <ion-item>
        <ion-textarea [(ngModel)]="receita.descricao" placeholder="Descrição da receita" required></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label position="stacked">Ingredientes *</ion-label>
      <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event), receita.ingredientes)">
        <ion-item *ngFor="let ingrediente of receita.ingredientes">
          <ion-reorder slot="start"></ion-reorder>
          <ng-container *ngIf="isDesktop; else mobile">
            <ion-row class="w-full">
              <ion-col size="1">
                <ion-input [(ngModel)]="ingrediente.quantidade" type="number" [placeholder]="0" required></ion-input>
              </ion-col>

              <ion-col size="3" sizeLg="2">
                <ion-select [(ngModel)]="ingrediente.medida" [placeholder]="medidasIngrediente[0]">
                  <ion-select-option *ngFor="let medida of medidasIngrediente" [value]="medida">{{ medida }}</ion-select-option>
                </ion-select>
              </ion-col>

              <ion-col>
                <ion-input label="de" [(ngModel)]="ingrediente.ingrediente" placeholder="ingrediente" required></ion-input>
              </ion-col>

              <ion-col size="2" sizeLg="1">
                <ion-button color="primary" class="w-full h-full !flex items-center justify-center" fill="clear" (click)="removeItem(ingrediente.listIndex, receita.ingredientes)" *ngIf="ingrediente.listIndex > 0">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ng-container>
          <ng-template #mobile>
            <ion-row class="w-full">
              <ion-col>
                <ion-row>
                    <ion-col>
                      <ion-input [(ngModel)]="ingrediente.quantidade" class="max-w-10" type="number" [placeholder]="0" required></ion-input>
                    </ion-col>
                    <ion-col>
                      <ion-select [(ngModel)]="ingrediente.medida" [placeholder]="medidasIngrediente[0]">
                        <ion-select-option *ngFor="let medida of medidasIngrediente" [value]="medida">{{ medida }}</ion-select-option>
                      </ion-select>
                    </ion-col>
                </ion-row>

                <ion-row>
                  <ion-input label="de" [(ngModel)]="ingrediente.ingrediente" placeholder="ingrediente" required></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="3">
                <ion-button color="primary" class="w-full h-full !flex items-center justify-center" fill="clear" (click)="removeItem(ingrediente.listIndex, receita.ingredientes)" *ngIf="ingrediente.listIndex > 0">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ng-template>
        </ion-item>
      </ion-reorder-group>
      <ion-button color="primary" expand="full" (click)="addItem({ quantidade: null, medida: 'Colher de Café', ingrediente: '' }, receita.ingredientes)">Adicionar ingrediente</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label position="stacked">Utensílios (opcional)</ion-label>
      <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event), receita.utensilios)">
        <ion-item *ngFor="let utensilio of receita.utensilios">
          <ion-reorder slot="start"></ion-reorder>
          <ion-input [(ngModel)]="utensilio.quantidade" class="max-w-10" type="number" [placeholder]="0"></ion-input>
          <ion-input label="x" [(ngModel)]="utensilio.utensilio" placeholder="utensílio"></ion-input>
          <ion-button color="primary" fill="clear" (click)="removeItem(utensilio.listIndex, receita.utensilios)">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-reorder-group>
      <ion-button color="primary" expand="full" (click)="addItem({ quantidade: null, utensilio: '' }, receita.utensilios)">Adicionar Untensílio</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label position="stacked">Preparo *</ion-label>
      <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event), receita.preparo)">
        <ion-item *ngFor="let preparo of receita.preparo">
          <ion-reorder slot="start"></ion-reorder>
          <ion-row class="w-full">
            <ion-col>
              <ion-textarea label="•" [(ngModel)]="preparo.passo" placeholder="{{ preparo.listIndex + 1 }}º passo" required></ion-textarea>
            </ion-col>

            <ion-col size="3" sizeMd="2" sizeLg="1">
              <ion-button color="primary" class="w-full h-full !flex items-center justify-center" fill="clear" (click)="removeItem(preparo.listIndex, receita.preparo)" *ngIf="preparo.listIndex > 0">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-reorder-group>
      <ion-button color="primary" expand="full" (click)="addItem({ passo: '' }, receita.preparo)">Adicionar passo</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label position="stacked">Tempo Preparo (opcional)</ion-label>
      <ion-item>
        <ion-input type="number" [(ngModel)]="receita.tempoPreparo.valor" placeholder="00:00:00">
          <ion-icon slot="start" name="timer-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-label position="stacked">Porção (opcional)</ion-label>
      <ion-item>
        <ion-input type="number" [(ngModel)]="receita.porcao.quantidade" [placeholder]="0">
          <ion-icon slot="start" name="restaurant-outline"></ion-icon>
        </ion-input>
        <ion-select [(ngModel)]="receita.porcao.medida" [placeholder]="medidasPorcao[0]">
          <ion-select-option *ngFor="let medida of medidasPorcao" [value]="medida">{{ medida }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="bg-transparent shadow-none !flex justify-center">
    <ion-button color="primary" shape="round">
      Adicionar receita
    </ion-button>
  </ion-card>
</ion-content>
