<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Minhas receitas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Minhas receitas </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="md:px-[25vw]">
    <ion-card
      *ngFor="let receita of receitas"
      [routerLink]="['/view/', receita.id, receita.titulo]"
    >
      <ion-card-header class="p-3 pb-0">
        <ion-row>
          <ion-col>
            <ion-card-title class="text-[1em] font-bold leading-none"
              >{{ receita.titulo }}</ion-card-title
            >
            <ion-card-subtitle class="mt-0"
              ><ion-label class="text-[0.7em] leading-none"
                >{{ receita.dataCriacao.toLocaleString() }}</ion-label
              ></ion-card-subtitle
            >
          </ion-col>
          <ion-col class="flex flex-row-reverse" size="1">
            <ion-button
              size="small"
              fill="clear"
              shape="round"
              (click)="removeReceita(receita.id); $event.preventDefault(); $event.stopPropagation()"
            >
              <ion-icon
                class="align-bottom size-4 fill-red-600"
                slot="icon-only"
                name="trash"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="p-2">
        <ion-row class="w-full">
          <ion-col size="3" sizeMd="3" sizeXl="1.8">
            <ion-img
              class="w-full aspect-square object-cover"
              [src]="receita.imagens[0].url"
            />
          </ion-col>
          <ion-col>
            <p class="indent-4 text-justify line-clamp-4 xl:line-clamp-6">
              {{receita.descricao}}
            </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
